<h2>Create New Figure Form:</h2>

<form action="/figures" method="POST">

  <h3><p>Figure Name:</p></h3>
  <input type="text" name="figure[name]" id="figure_name">
  <br>

  <h3><p>Choose existing Titles:</p></h3>

  <% @titles.each do |title| %>
    <input type="checkbox" name="figure[title_ids][]" value="<%= title.id %>" id="title_<%= title.id %>"><%= title.name %></input>
    <br>
  <% end %>
  <br>

  <h4><p>and/or create New Title</p></h4>

  <h4><p>New Title:</p></h4>
  <input  type="text" name="title[name]" id="new_title"></input>

  <h3><p>Choose existing Landmarks:</p></h3>

  <% @landmarks.each do |landmark| %>
    <input type="checkbox" name="figure[landmark_ids][]" value="<%= landmark.id %>" id="landmark_<%= landmark.id %>"><%= landmark.name %></input>
    <br>
  <% end %>

  <h4><p>and/or create New Landmark</p></h4>

  <h4><p>New Landmark:</p></h4>
  <input type="text" name="landmark[name]" id="new_landmark"></input>

  <br>
  <br>

  <input type="submit" value="Create New Figure">
</form>
